[user]
	email = yrashi@matia.io
	name = yrashi-matia
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
	editor = cursor
	pager = delta
[gitbutler]
	aiModelProvider = openai
[http]
	postBuffer = 157286400
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[credential "https://dev.azure.com"]
	useHttpPath = true
[safe]
	directory = /Users/yrashi/code/matia
